.modal-dialog {
  width: 70vw !important;
  max-width: none !important;
}

.modal-content {
  border-radius: 24px !important;
  padding: 27px 32px 24px 10px !important;
  height: 70vh !important;
}

.modal-title {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    /* padding-left: 30px; */
}

.alignCenter {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.modal-body {
    padding: 10px 30px 10px 30px !important;
    width: 100%;
}

.modal-footer {
  display:grid !important;
  height: fit-content;
  grid-template-columns: 3fr 7fr;
  align-items: unset !important;
}

.CommentSection{
  display: flex;
  padding-left: 15px;
  /* align-items: center; */
  flex-direction: column;
  justify-content: flex-start;
}

.FilmInfo {
  border-right: 1px solid rgb(243, 136, 136);
}