.HomeDiv2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  min-height: 260px;
  /*margin: 30px 0px 30px 0px;*/
  background-color: white;
  /* border-radius: 90px; */
  /* font-size: 20px;
    line-height: 1.8; */
  /* overflow-y: scroll; */
}

.FilmList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 20px;
  min-width: 80vw;
}

.FilmDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 100%;
  background-color: wheat;
}

.FilmDivFirstRow {
    font-size: 20px;
}
